{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{base_path_css}}/css/caraKerja.css">
{% endblock %}

{% block title %}
Landing Page
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="page-title"> Yuk Perhatikan Caranya! </h2>
        </div>
    </div>
    <div class="row box-part">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="content-title"> Cara Mendaftarkan Akun & Masuk Akun </h2>
                </div>
            </div>
            <div class="row text-area">
                <div class="col-lg-1">
                    <div class="number-text text-center"> 1 </div>
                </div>
                <div class="col-lg-11">
                    <h2 class="content-text-sm"> Untuk mendaftarkan akun baru, pilih tombol daftar. </h2>
                </div>
            </div>
            <div class="row text-area">
                <div class="col-lg-1">
                    <div class="number-text text-center"> 2 </div>
                </div>
                <div class="col-lg-11">
                    <h2 class="content-text-sm"> Pastikan kamu memilih untuk mendaftar menjadi Lender (pemberi dana)
                        atau Borrower (peminjam dana). Untuk keamanan, setiap akun hanya bisa untuk mendaftar pada salah
                        satu peran saja. </h2>
                </div>
            </div>
            <div class="row text-area">
                <div class="col-lg-1">
                    <div class="number-text text-center"> 3 </div>
                </div>
                <div class="col-lg-11">
                    <h2 class="content-text-sm"> Isi semua kolom data yang dibutuhkan. Pasktikan data yang ada isi
                        semuanya benar.</h2>
                </div>
            </div>
            <div class="row text-area">
                <div class="col-lg-1">
                    <div class="number-text text-center"> 4 </div>
                </div>
                <div class="col-lg-11">
                    <h2 class="content-text-sm"> Centang kolom pernyataan untuk menyetujui kebijakan beserta aturan PT
                        Warung Skuy, lalu pilih tombol daftar. </h2>
                </div>
            </div>
            <div class="row text-area">
                <div class="col-lg-1">
                    <div class="number-text text-center"> 5 </div>
                </div>
                <div class="col-lg-11">
                    <h2 class="content-text-sm"> Setelah akun terdaftar, maka bisa melakukan proses masuk akun dengan
                        memilih tombol Masuk. </h2>
                </div>
            </div>
            <div class="row text-area">
                <div class="col-lg-1">
                    <div class="number-text text-center"> 6 </div>
                </div>
                <div class="col-lg-11">
                    <h2 class="content-text-sm"> Masukkan akun atau username yang telah terdaftar. Jika anda tidak
                        mengingat kata sandi anda, bisa melakukan pengaturan ulang kata sandi dengan memilih link Lupa
                        Kata Sandi? </h2>
                </div>
            </div>
            <div class="row text-area">
                <div class="col-lg-1">
                    <div class="number-text text-center"> 7 </div>
                </div>
                <div class="col-lg-11">
                    <h2 class="content-text-sm"> Tekan tombol masuk dan jika benar maka anda akan langsung dialihkan ke
                        halaman utama dengan akun yang sudah masuk (aktif). </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row box-part">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="content-title"> Cara Melakukan Pendanaan (Untuk Lender) </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-2 text-center card-container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img src="{{base_path_css}}/assets/images/pages/caraKerja/daftar.png" alt="" width="90%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="content-text-sm icon-text"> Daftar </h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 text-center card-container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img src="{{base_path_css}}/assets/images/pages/caraKerja/pilih.png" alt="" width="90%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="content-text-sm icon-text"> Pilih </h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 text-center card-container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img src="{{base_path_css}}/assets/images/pages/caraKerja/lending.png" alt="" width="90%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="content-text-sm icon-text"> Pinjamkan </h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 text-center card-container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img src="{{base_path_css}}/assets/images/pages/caraKerja/tunggu.png" alt="" width="90%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="content-text-sm icon-text"> Tunggu </h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 text-center card-container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img src="{{base_path_css}}/assets/images/pages/caraKerja/selesai.png" alt="" width="90%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="content-text-sm icon-text"> Selesai </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row box-part">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="content-title"> Cara Melakukan Peminjaman (Untuk Borrower) </h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-1"></div>
                <div class="col-lg-2 text-center card-container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img src="{{base_path_css}}/assets/images/pages/caraKerja/pengajuan.png" alt="" width="90%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="content-text-sm icon-text"> Ajukan </h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 text-center card-container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img src="{{base_path_css}}/assets/images/pages/caraKerja/peninjauan.png" alt="" width="90%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="content-text-sm icon-text"> Peninjauan </h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 text-center card-container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img src="{{base_path_css}}/assets/images/pages/caraKerja/lending.png" alt="" width="90%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="content-text-sm icon-text"> Pinjamkan </h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 text-center card-container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img src="{{base_path_css}}/assets/images/pages/caraKerja/cairkan.png" alt="" width="90%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="content-text-sm icon-text"> Cairkan </h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 text-center card-container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img src="{{base_path_css}}/assets/images/pages/caraKerja/selesai.png" alt="" width="90%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="content-text-sm icon-text"> Selesai </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}