{% extends 'layouts/auth.html' %} {% block card_title %} Masuk {% endblock %}
{%block form%}
<form method="POST" class="d-flex flex-column">
  {{ form.csrf_token }}
  <div class="form-group">
    {{ form.username.label() }}{{ form.username(class="form-control",
    placeholder="User Name") }}
  </div>
  <div class="form-group">
    {{ form.password.label() }} {{ form.password(class="form-control",
    placeholder="Password") }}
  </div>
  <a href="/forget-password.html">Lupa Kata Sandi?</a>
  <div class="text-center">{{ form.submit(class="btn") }}</div>
</form>
{% endblock %}
