{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{base_path_css}}/css/common/banner.css">
{% endblock %}

{% block title %}
Pinjaman Main Page
{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <h1 class="display-4 font-weight-normal">Peminjaman</h1>

    <a href="{{ url_for('pinjaman_pengajuan_page') }}">
        <button class="btn btn-primary"> Ajukan Peminjaman </button>
    <a>

    <!-- Daftar Pinjaman Saat Ini -->
    <div class="container">
        <h3 class="display-6 font-weight-normal">Daftar Pinjaman Saat Ini</h3>

        <div class="container">
            <div class="row">
                {% if countItemsPinjamanUser > 0 %}
                {% for item in itemsPinjamanUser %}
                <div class="col d-flex justify-content-center">
                    <a href="{{ url_for('pendanaan_detail_page', loan_id= item.id) }}">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">{{ item.nominal }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <div class="col d-flex justify-content-center">
                    Tidak ada pinjaman yang tersedia
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Daftar Pinjaman Yang Belum Lunas -->
    <div class="container">
        <h3 class="display-6 font-weight-normal">Daftar Pinjaman Yang Belum Lunas</h3>

        <div class="container">
            <div class="row">
                {% if countItemsPinjamanUser > 0 %}
                {% for item in itemsPinjamanUser %}
                <div class="col d-flex justify-content-center">
                    Daftar Tagihan nanti masukin di sini
                </div>
                {% endfor %}
                {% else %}
                <div class="col d-flex justify-content-center">
                    Tidak ada pinjaman yang tersedia
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Pinjaman Saya Yang Telah Selesai -->
    <div class="container">
        <h3 class="display-6 font-weight-normal">Pinjaman Saya Yang Telah Selesai</h3>

        <div class="container">
            Feature is under Development
        </div>
    </div>
</div>
{% else %}
<div class="banner container-fluid text-center">
    <div class="row">
        <div class="col-lg-12">
              <h2 class="banner-title"> Silahkan Masuk Atau Daftar Ke Akun Borrower Anda Untuk Mengajukan Pinjaman </h2>
        </div>
    </div>	
    <div class="row">
        <div class="col-lg-12 chart-1">
              <img src="{{ base_path_css }}/assets/images/common/Chart_1.png" alt="" class="img-fluid">
        </div>	
    </div>
</div>
{% endif %}

{% endblock %}