{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/pengajuanPeminjaman.css">
{% endblock %}

{% block title %}
Pengajuan Peminjaman
{% endblock %}

{% block content %}
<!-- Form Pengajuan Peminjaman -->
<section class="form-pengajuan-peminjaman">
  <h1 class="container-title text-center"> Pengajuan Peminjaman </h1>
  {{ form.hidden_tag() }}
  <form method="POST" action="" class="w-100">
    {{ form.csrf_token }}
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 form-field">
          {{ form.title.label(class="form-label") }}
          {{ form.title(class="form-control", id="judul-peminjaman", placeholder="Bantuan Usaha") }}
          {% if form.title.errors %}
          <div class="error-msg"> {% for error in form.title.errors %} {{ error }} {% endfor %} </div>
          {% endif %}
        </div>
        <div class="col-lg-4 form-field">
          {{ form.tenor.label(class="form-label") }}
          {{ form.tenor(class="form-control", id="tenor", placeholder="Dalam satuan bulan") }}
          {% if form.tenor.errors %}
          <div class="error-msg"> {% for error in form.tenor.errors %} {{ error }} {% endfor %} </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 form-field">
          {{ form.start_loan.label(class="form-label") }}
          {{ form.start_loan(class="form-control", id="mulai-peminjaman", placeholder="Tanggal awal mulai peminjaman")
          }}
          {% if form.start_loan.errors %}
          <div class="error-msg"> {% for error in form.start_loan.errors %} {{ error }} {% endfor %} </div>
          {% endif %}
        </div>
        <div class="col-lg-6 form-field">
          {{ form.end_loan.label(class="form-label") }}
          {{ form.end_loan(class="form-control", id="akhir-peminjaman", placeholder="DD/MM/YYYY") }}
          {% if form.end_loan.errors %}
          <div class="error-msg"> {% for error in form.end_loan.errors %} {{ error }} {% endfor %} </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 form-field">
          {{ form.nominal.label(class="form-label") }}
          {{ form.nominal(class="form-control", id="nominal-peminjaman", placeholder="Dalam Rupiah") }}
          {% if form.nominal.errors %}
          <div class="error-msg"> {% for error in form.nominal.errors %} {{ error }} {% endfor %} </div>
          {% endif %}
        </div>
        <div class="col-lg-4 form-field">
          {{ form.interest.label(class="form-label") }}
          {{ form.interest(class="form-control", id="bunga-efektif", placeholder="Persentase (%)") }}
          {% if form.interest.errors %}
          <div class="error-msg"> {% for error in form.interest.errors %} {{ error }} {% endfor %} </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 form-field">
          {{ form.loan_reason.label(class="form-label") }}
          {{ form.loan_reason(class="form-control", id="alasan-peminjaman", placeholder="Ketik dengan jelas dan lengkap") }}
          {% if form.loan_reason.errors %}
          <div class="error-msg"> {% for error in form.loan_reason.errors %} {{ error }} {% endfor %} </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 form-field">
          {{ form.business_desc.label(class="form-label") }}
          {{ form.business_desc(class="form-control", id="keterangan-usaha", placeholder="Ketik dengan jelas dan lengkap") }}
          {% if form.business_desc.errors %}
          <div class="error-msg"> {% for error in form.business_desc.errors %} {{ error }} {% endfor %} </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 form-field">
          {{ form.location.label(class="form-label") }}
          {{ form.location(class="form-control", id="domisili", placeholder="Provinsi Saat Ini") }}
          {% if form.location.errors %}
          <div class="error-msg"> {% for error in form.location.errors %} {{ error }} {% endfor %} </div>
          {% endif %}
        </div>
        <div class="col-lg-4 form-field">
          {{ form.start_year.label(class="form-label") }}
          {{ form.start_year(class="form-control", id="tahun-rintis", placeholder="YYYY") }}
          {% if form.start_year.errors %}
          <div class="error-msg"> {% for error in form.start_year.errors %} {{ error }} {% endfor %} </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 form-field">
          {{ form.business_address.label(class="form-label") }} <br />
          {{ form.business_address(class="form-control", id="alamat-usaha", placeholder="Ketik dengan jelas dan lengkap") }}
          <br />
          {% if form.business_address.errors %}
            <div class="error-msg"> {% for error in form.business_address.errors %} {{ error }} {% endfor %} </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 form-field">
          {{ form.gross_income.label(class="form-label") }}
          {{ form.gross_income(class="form-control", id="pendapatan-kotor-bulanan", placeholder="Dalam Rupiah") }}
          {% if form.gross_income.errors %}
            <div class="error-msg"> {% for error in form.gross_income.errors %} {{ error }} {% endfor %} </div>
          {% endif %}
        </div>
        <div class="col-lg-6 form-field">
          {{ form.modal.label(class="form-label") }}
          {{ form.modal(class="form-control", id="modal-usaha", placeholder="Dalam Rupiah") }}
          {% if form.modal.errors %}
            <div class="error-msg"> {% for error in form.modal.errors %} {{ error }} {% endfor %} </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 form-field">
          {{ form.net_income.label(class="form-label") }}
          {{ form.net_income(class="form-control", id="pendapatan-bersih-bulanan", placeholder="Dalam Rupiah") }}
          {% if form.net_income.errors %}
            <div class="error-msg"> {% for error in form.net_income.errors %} {{ error }} {% endfor %} </div>
          {% endif %}
        </div>
        <div class="col-lg-6 form-field">
          <label for="foto-usaha" class="form-label"> Foto Usaha </label>
          <input type="file" class="form-control" id="foto-usaha" aria-describedby="textHelp">
          <div id="textHelp" class="form-text"> Unggah Gambar - Feature in Progress ! </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 form-field text-center">
          {{ form.toc(class="in", id="aggrement") }}
          {{ form.toc.label(class="aggrement-label") }}
        </div>
      </div>
      <div class="col-lg-12 text-center">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </div>
  </form>
</section>
{% endblock %}